<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">
    <main>
      <div class="jumbotron">
        <h1>Hello world!</h1>
        <p>Welcome to templating :)</p>
      </div>
    </main>
  </body>
</html>
